<<<<<<< HEAD
<<<<<<< HEAD
/* CSS para el pie de página dentro de la clase 'app' */
div.app > footer {
    text-align: center; /* Centrar el texto */
    letter-spacing: 1px; /* Agregar espaciado entre letras al texto */
    padding: 2rem; /* Aplicar relleno al pie de página */
    background-color: aqua; /* Establecer el color de fondo como aqua */
    color: white; /* Establecer el color del texto como blanco */
=======
div.app > footer {
    text-align: center;
    letter-spacing: 1px;
    padding: 2rem;
    background-color: var(--blue-color);
    color: rgb(253, 253, 253);
>>>>>>> origin/javi
}
=======
>>>>>>> d0f8c7e62695313d92eea84f8f6222fce1ce684f
