<<<<<<< HEAD
<<<<<<< HEAD
/* Header.css */
=======
>>>>>>> d0f8c7e62695313d92eea84f8f6222fce1ce684f



.large-icon {
    width: 15vw; 
    height: auto; 
}
=======
div.app > header {
    text-align: center;
    letter-spacing: 1px;
    padding: 2rem;
    background-color: var(--blue-color);
    color: rgb(253, 253, 253);
}
>>>>>>> origin/javi
